@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
li {
  font-size: 24px;
  list-style-type: none;
  margin: 10px;
}
.navbar {
  border: 0.5px solid;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.header {
  height: 600px;
  width: 100%;
  border-radius: 0px 0px 100px 100px;
  border: 2px solid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/background-image.jpg");
  box-sizing: border-box;
}
p {
  color: rgb(19, 19, 19);
  padding: 0px 10px 10px 0px;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.quotation {
  color: rgb(19, 19, 19);
  padding: 400px 20px 0px 20px;
  font-size: 24px;
  font-family: "Great Vibes", cursive;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(0, 55, 255);
}

@media (max-width: 768px) {
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  li {
    font-size: 10px;
    margin: 6px;
  }

  p {
    font-size: 28px;
    padding: 0px 10px 10px 10px;
    color: aliceblue;
  }

  .quotation {
    font-size: 10px;
    color: aliceblue;
    padding: 440px 10px 10px 10px;
  }

  .header {
    border-radius: 0px 0px 60px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./assets/Mobil-view.webp");
    box-sizing: border-box;

  }
}
