@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    font-size: 30px;
    list-style-type: none;
}
.header{
    height: 800px;
    width: 100%;
    border-radius: 0px 0px 140px 140px;
    border: 2px solid;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("./assets/background-image.jpeg");
    padding: 4px;
    margin: 5px 0px 5px 0px;
}
p{
    color:rgb(252, 245, 245);
    padding: 130px 0px 0px 110px;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    font-weight: 100;
    font-style: normal;
}
.navbar{
    border: 0.5px solid;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
