.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
  
  .image-grid img {
    width: 480px;
    height: 340px;
    margin: 10px;
    border: 1.5px solid;
    border-radius: 8px;
    margin: 20px 0px 20px 30px;
  }
  .Single_Image_Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
  .Single_Image_Container img{
    width: 1000px;
    border: 1px solid;
    height: 600px;
    margin: 20px 0px 20px 0px;
    border-radius: 8px;
  }
  .container{
    overflow: hidden; 
    max-width: 100%;
  }
  @media (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
